@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization 
@using RCLProdutos.Pages
@using RCLComum.Pages 

<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies="new[] {
                    typeof(RCLProdutos.Pages.Catalogo).Assembly,
                    typeof(RCLComum.Pages.Login).Assembly,
                    typeof(RCLCompras.Pages.Carrinho).Assembly
                }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
            <NotAuthorized>
                <p role="alert">Não tens permissão para aceder a esta página. Por favor, faz login.</p>
            </NotAuthorized>
            <Authorizing>
                <p>A validar autenticação...</p>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Não Encontrado</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">A página não foi encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>